 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
  html,body {
  height: 100%;
  background-color:    #EFFBF2;
  position: relative;
}
.flushing{min-height: 80%;}
.box{
  background-color: white;
  margin-top: 50px;
}
.like{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
ul.like li{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  font-size: 20px;
}
.comment-text{
  color: #e91e63;
  font-family: 'handlee', cursive;

}
.comment-user{
  color: #2196f3;
  // font-family: 'handlee', cursive;
  font-family: 'Kaushan Script', cursive;
}
.timestamp{
  padding-top:15px ;
  color: #9E9E9E;
  font-family: 'handlee', cursive;
  padding-left: 7%;
  text-align: center;
}
.comment{
  margin: 0 20px 0 20px;
}
.commentbox{
  padding-top: 10px;
}
nav {
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    /* the rest of your styling */
}
.commentjs{
  float: right;
  padding-right: 1.5%;
  color: #E0E0E0;

}
.fa{
  font-size: 20px !important;
}
.fa-user-plus{
  color: #ff9800;
}
.fa-sign-out{
  color: #9E9E9E;
}
.fa-plus{
  color:#f44336;
}
.fa-sign-in{
  color: #8BC34A;
}
.fa-eye{
  color: #1ABC9C;
}
.fa-trash-o{
  color: black;
}
.fa-facebook-official{
  color:#82B1FF;
  // background-color: white;
}
.fa-twitter-square{
  color:#82B1FF;
}
.fa-rss-square{
  color:#FFE0B2;

}
.fa-info{
  color: #69F0AE;

}
.fa-envelope-o{
  color: #ff5722;
}
.user_image{
  height: 40px;
  width:40px;
  padding-left: 10px;
  padding-top: 10px;

}
hr.introhr  {
   margin-top: 1px !important;
   margin-bottom: 1px !important;
   border-width: 5px;
   border-color: pink;
  //  margin-left: 10%;
  //  margin-right: 10%;
 }
 .middle-line{
border-width: 1px;
margin-left: 1%;
margin-right: 1%;
border-color: #F5F5F5;
margin-top: 10px !important;
margin-bottom: 10px !important;
 }
 .field{
   padding-top:20px;
 }
 .login-logout{
  //  text-align: center;
   font-family: 'handlee', cursive;
   display: inline !important;
 }
.user{
      font-family: 'Kaushan Script', cursive;
      font-size: 20px;
}

.center-image{
  display: block;
   margin-left: auto;
   margin-right: auto;
}
.text{
    font-family: 'Handlee', cursive;
}
.wrap{
  padding-top: 30px;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
// min-height: 100%;
// height: auto;
  //padding: 0 0 120px;
}

 .navbar-brand{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
 }
.footer-design{
padding-top:20px;
background-color: #795548;
color: #B9F6CA;
// margin-top: 50px;
text-align: center;
text-transform: capitalize;
font-family: 'Handlee', cursive;
}
.grass {
  background-image: url("grass.png");
  background-repeat: repeat-x;
  // padding-bottom: 24px;
}
.modal-content{
  background-color: #1B5E20 ;
  color: #f5f5f5;
  text-shadow: #EEEE00 0 0 10px;

}
ul.footer-link li{
display: inline;
padding-left: 10px;
padding-right: 10px;
padding-top: 20px;
font-size: 20px;
color:white;
}
