<div class="grass"><%= image_tag("frog-48.png",  alt: "like", class: "frog center-image") %>
</div>
    <div class = "footer-design">
      <div class="container footer-icon">
        <ul class="footer-link">
            <li><a data-toggle="modal" href="#myModal"><i class="fa fa-info" aria-hidden="true"></i></a></li>
            <li><a href="https://www.facebook.com/techrisenepal" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="http://www.techrise.me/blog" target="_blank"><i class="fa fa-rss-square" aria-hidden="true"></i></a></li>
            <li><a href="https://www.twitter.com/techrisenepal" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/company/techrise" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="mailto:danieldangol@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>

        </ul>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Directive</h4>
                  </div>
                  <div class="modal-body">

                            <p>true beauty of nature is in wild.</p> <p>everybody love butterfly but if you try to hold the beauty of butterfly within yourself. you will squash and kill it.</p>
                         <p>this page is dedicated to animal. show your love towards them. post your favourite animal enjoying in wild.<p>
                          please do not post pet animals ( atleast not inside the house or humanly things ).</p> dont post selfie too. you can add your avatar at profile pic. </p>
                          <p>instalove the nature. instalove the wild</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>

    </div>
    </div>
